<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Yogi contactUs</title>
</head>
<body style="background-image: url('../static/studio3.jpg'); background-repeat: no-repeat; background-size: cover;
background-position:50% 50%;">
    
    <nav style="text-align: right; margin-right:5%; margin-top: 3%;">
    <button onclick="window.location.href='HomePage.html'" style="color: rgb(6, 143, 189); text-align: center; font-family: 'Segoe UI',
    Tahoma, Geneva, Verdana, sans-serif;">Back To Home Page</button>
    </nav>


    <h1 style="color: lightskyblue; font: bold; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: xxx-large; margin-top: -2%; "> Yogi - Yoga Studio </h1>
    <h3 style="color: rgb(6, 143, 189); text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;
     padding-bottom: 3%; margin-top: -1%;">
     Want to start your journy with us? <br> Fill in your details and we will get back to you as soon as possible
    </h3>


    <form action="URL" method="post">
        <div style="float: left; margin-left:20%; margin-top: 2%; font-size: larger; color:rgb(6, 143, 189); font-family: 'Segoe UI',
        Tahoma, Geneva, Verdana, sans-serif ; margin-top: -2.5%;">
        <label  for="First_Name" style="text-align: center;">First Name:</label>
        <input type="text" id="First_Name" name="First_Name" required><br>
        
        <label for="Last_Name" style="text-align: center;margin-right: 0.6%;">Last Name:</label>
        <input type="text" id="Last_Name" name="Last_Name" required><br>
       
        <label  for="Age" style="text-align: center; margin-right: 5.3%;">Your Age:</label>
        <input type="number" id="Age" name="Age" min="14"><br>

       <label for="Email" style="text-align: center; margin-right:13.8%">E-mail:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label  for="isFirst" style="text-align: center;">First time here?</label>
        <input type="checkbox" id="isFirst" name="isFirst" ><br>

        </div>   


        <div style="float:right; margin-right: 15%; font-size: larger; color: rgb(6, 143, 189); text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif; margin-top: -4%;">
        <label for="freeText" style="color: rgb(6, 143, 189); text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
        sans-serif;">What's on your mind?</label><br>
        <textarea name="freeText" id="freeText" cols="50" rows="8"></textarea><br>
        </div>
       
     
        <div style="text-align: center; margin-top: 5%;">
        <input type="submit" style="color: rgb(6, 143, 189); text-align: center; font-family: 'Segoe UI',
        Tahoma, Geneva, Verdana, sans-serif; float: center; margin-top: 15%;"> <br>
        </div>
    </form>

    
  

        






</body>
</html>