<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogi-Yoga Studio</title>
</head>

<body style="background-image: url('../static/studio3.jpg'); background-repeat: no-repeat; background-size: cover;
background-position:50% 50%;">
   
    <h1 style="color: lightskyblue; font: bold; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: xxx-large;"> Yogi</h1>
    <h2 style="color: rgb(28, 91, 133); font: bold; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large; margin-top: -2%; ">
        Come Take The First Step In Your journy
    </h2>
    <img src="../static/image2.jpg" alt="can not display photo" style="margin-left: 42%; border: solid lightblue; width:5cm; height: 5cm;">


    <p style="color: rgb(28, 91, 133); font: bold;text-align: center ; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium; margin-left: 10%; margin-right: 10%; margin-top: 2%;">
        When you say yoga in Tel Aviv you say yogi. Yogi is a spacious, bright, airy, and relaxed thatprovides a relaxed, open, 
         and homey feeling. It allows everyone to feel that they can come to invest in themselves, to make room for themselves, to 
         study themselves. <br> <br>

        We strive to allow anyone who wishes to practice yoga  to find the class that best suits them if it’s the beginner student
        looking to get familiarised with yoga for the first time or the more advanced student looking to deepen their practice. All 
        of that in a warm and comfortable homey atmosphere.
        
    </p>

    <div style="text-align: center;color: rgb(202, 229, 238); font: bold;text-align: center ; font-family: 'Segoe UI',
     Tahoma, Geneva, Verdana, sans-serif;font-size: medium; margin-top: 3%;">
    <b><p  style="font-size: larger; ">convinced? 
    </p>

    <p style="margin-top: -1.5%;">
        Press here and we will set your first class
    </p></b>
    </div>

    <nav style="text-align: center">
    <button onclick="window.location.href='Contact.html'" style="color: rgb(6, 143, 189); text-align: center; font-family: 'Segoe UI',
    Tahoma, Geneva, Verdana, sans-serif;">Contact Us</button>
    </nav>




  



</body>
</html>